::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #1d1f20 34% url(patern.svg);*/

  /*animation: animatedBackground 10s ease alternate infinite;*/
  /* animation: backgroundScroll 60s linear infinite;*/
}

.text {
  margin: 10px 39px;
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page1 {
  display: grid;
  align-items: center;
  /* justify-items: center;*/
  background: url("hair2.jpg");
  /* background-size: 23%;*/
  background-size: cover;
  filter: blur(0px);
  transition: .5s all ease;
}

.page2 {
  background: #fff;
  background: url("hair3.jpg");

}

.text p {
  font-size: 4em;
  font-family: "Raleway", cursive;
  font-weight: 900;
  background: white;
  background-size: 250% 250%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 97%;
  }

  50% {
    background-position: 100% 4%;
  }

  100% {
    background-position: 0% 97%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 97%;
  }

  50% {
    background-position: 100% 4%;
  }

  100% {
    background-position: 0% 97%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 97%;
  }

  50% {
    background-position: 100% 4%;
  }

  100% {
    background-position: 0% 97%;
  }
}

/* experiment */

.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: 0px;
  display: none;
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82);
  /* border-radius: calc(2 * var(--borderWidth)); */
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

/* .toggle-button {
    transform: rotateY(180deg);
    position: fixed;
    top: 8px;
    right: 0px;
    padding: 9px 10px;
    margin: 8px 15px 8px 0;
    height: 20px;
    width: 50px;
    cursor: pointer;
    z-index: 12;
}

.toggle-button::after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

.krug {
    border-radius: 30px;
    transition: 0.35s all ease-in;
}

.toggle-circle {
    z-index: -1;
    background: #3F51B5;
    height: 43px;
    width: 43px;
    border-radius: 150px;
    position: absolute;
    top: -4px;
    left: 4px;
    transform: scale(1.3);
    transition: 0.35s all ease-in;
}

.bar {
    background-color: #ffffff;
    display: block;
    width: 100%;
    height: 5px;
    border: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.bar+.bar {
    margin-top: 4px;
}

.middle {
    top: 11px;
    height: 5.5px;
}

.bottom {
    top: 22px;
    width: 79%;
}

.toggle-button:hover {
    opacity: .7;
}

.toggle-active .bar {
    background-color: #fff;
}

.toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}

.toggle-active .middle {
    opacity: 0;
}

.toggle-active .bottom {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    width: 100%;
} */

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  justify-items: center;
  display: grid;
  align-items: center;
  width: 100vw;

  background-color: #ffffff3a;
  z-index: 1000;
  transition: .35s all ease;
}


.scrolled-nav {
  transition: .5s all ease;

}

header.scrolled-nav {
  box-shadow: 0px 1px 19px 0 rgba(0, 0, 0, 0.08);
}


#header.scrolled-nav #logo img {
  height: 80px;
}

#header.scrolled-nav li a {
  padding: 33.61px 16px;
}

#header.scrolled-nav #navbar {
  background-color: #ffffff;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  transition: .35s all ease;
}

li {
  text-decoration: none;
  list-style: none;
  transition: .35s all ease;
}

ul {
  margin: 0;
  padding: 0;
  transition: .35s all ease;
}

li a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  /* margin: 0px 40px; */
  /* height: 100%; */
  padding: 50.61px 16px;
  /* text-align: center; */
  border-bottom: 5px solid transparent;
  transition: .35s all ease;
}

li a:hover {
  /*background-color: #2727278a;*/
  color: #EF4E7B;
  border-bottom: 5px solid #4eccef;
  transition: .35s all ease;
}


#logo img {
  height: 107px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    /* pattern bg texture is 1000x1000px */
    background-position: 100% -100%;
  }
}

@media (max-width: 768px) {
  .text p {
    font-size: 1.8em;
  }

  body {
    background-size: 65%;
  }
}

@media (max-width: 395px) {
  .nav {
    display: none;
  }
}